:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right,  #0990ea, #d61475);
    align-items: center;
    font-family: fantasy;
    
}

.players {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    font-size: 2rem;
}

.players input {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.players button,
dialog button {
    border: 1px solid black;
    border-radius: 5px;
    background:transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    font-family: inherit;
}

.board {
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cell {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell.player-x,
.cell.player-o {
    cursor: not-allowed;
}

.board.x .cell:not(.player-x):not(.player-o):hover::before,
.board.x .cell:not(.player-x):not(.player-o):hover::after,
.board.o .cell:not(.player-x):not(.player-o):hover::before,
.board.o .cell:not(.player-x):not(.player-o):hover::after {
    background-color: lightgray;
}

.cell.player-x::before,
.cell.player-x::after,
.cell.player-o::before,
.cell.player-o::after {
    background-color: black;
}

.cell.player-x::before,
.cell.player-x::after,
.board.x .cell:not(.player-x):not(.player-o):hover::before,
.board.x .cell:not(.player-x):not(.player-o):hover::after {
    content: '';
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    position: absolute;
}

.cell.player-x::before,
.board.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.player-x::after,
.board.x .cell:hover::after {
    transform: rotate(-45deg);
}

.cell.player-o::before,
.cell.player-o::after,
.board.o .cell:not(.player-x):not(.player-o):hover::before,
.board.o .cell:not(.player-x):not(.player-o):hover::after {
    content: '';
    position:absolute;
    border-radius: 50%;
}

.cell.player-o::before,
.board.o .cell:not(.player-x):not(.player-o):hover::before {    
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.player-o::after,
.board.o .cell:not(.player-x):not(.player-o):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background: linear-gradient(to right,  #0990ea, #d61475);
}

dialog.winning-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -100%);
    border-radius: 10px;
    padding: 1.5rem;
    font-size: 2rem;
    height: 200px;
    width: 300px;
    justify-content: center;
    background: linear-gradient(to right,  #0990ea, #d61475);
    color: white;
}

dialog.winning-message::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog .dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.status {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
}